* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/* TARJETA PRINCIPAL */
.card_post {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    margin: 10px;
    border: 1px solid black
}
/* --------------------------------------------- */
/* ENCABEZADO */
.card_post__encabezado {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding: 5px 10px;
}

.card_post__usuario {
    display: flex;
    width: auto;
    padding: 5px;
    height: 100%;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.card_post__photo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.card_post__opciones {
    display: flex;
    width: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------- */
/* IMAGEN */
.card_post__imagen {
    width: 100%;
    height: 100%;
}
.card_post__imagen img {
    width: 100%;
    height: auto;
}
/* --------------------------------------------- */
/* CAJA DE INTERACCIÓN */
.card_post__caja_interaccion {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    gap: 5px;
}

.card_post__iconos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 85px;
    padding: 0 5px;
    gap: 5px;
}

.card_post__paginacion {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card_post__save_icon {
    flex: 0.7;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
}

/* --------------------------------------------- */
/* CAJA INFERIOR */
.card_post__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 3px;
    padding: 0 10px;
}

.card_post__total_likes {
    width: 100%;
    height: 15px;
    font-weight: 800;
    font-size: 11px;
}

.card_post__username_descripcion {
    width: 100%;
    height: 20px;
    font-weight: 800;
    font-size: 12px;
}

.card_post__ver_comentarios {
    width: 100%;
    height: 20px;
    font-size: 11px;
    color: rgb(79, 79, 79);
}

.card_post__fecha {
    width: 100%;
    height: 20px;
    font-size: 9px;
    color: rgb(107, 107, 107);
}

.red {
    color: red;
}